/* body {
    background-color: indigo;
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
  
  canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
    margin-left: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  
  .buttons button {
    background: black;
    border-radius: 8px;
    border: none;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 60px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;
  }
  .buttons button:not(:last-child) {
    margin-right: 10px;
  }
 
  #up, #down {
    margin-left: 100%;
    margin-right: 100%; 
    }
  .messages {
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px auto;
    width: 80%;
    max-width: 460px;
    font-size: 20px;
    gap: 10px;
  }
  .flecha{
    color: #fff;
  }
  p {
    display: block;
    margin: 0;
    width: 100%;
  }
  
  
  @media (max-width: 440px) {
    button { margin-top: 5px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
    .game-container{
      flex-direction: column;
    }
  }
  
  } */


  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: indigo;
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  .space{
    flex-direction: column;
    margin-top: 10px;
  }
  
  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
  
  canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  
  .buttons button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 10px;
    padding: 5px 20px;
    width: 100px;
  }
  button:not(:last-child) {
    margin-right: 10px;
  }
  
  .messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
  }
  
  p {
    display: block;
    margin: 0;
    width: 100%;
  }
  
  @media (max-width: 440px) {
    button { margin-top: 5px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
  }
  @media (min-width: 715px){
    .space{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .game-container{
      flex-direction: column;
    }}
  #game-over{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 30%;
  }
  #game-over h2{
    font-size: 50px;
  }
  #game-over h3{
    font-size: 40px;
  }
  .btn-jugar{
    display: flex;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 8px;
    cursor: pointer;
    background-color: #ff6600;
    color: #e3e702;
  }